<html>
   <head> 
      <!-- Angular js cdn link -->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      
	  <!-- json data -->
	  <script src="js/matches.js"></script>
	  
	  <!--css link-->
	  <link rel="stylesheet" type="text/css" href="css/matches.css">
	  
   </head>
   <body>
      <!-- Main Div start-->
       <div ng-app="myapp"
       	    ng-controller="jsondata"
			class="tableData">
	   
	   <!-- table div start-->
	     <div class="matchTable">
		     <div class="title"> <h3><u>Player's Data</u></h3></div>
			 <div style="border:1px solid black;">
			  <!--first row start-->
			     <div class="tableHeader">
				    <div class="column">ID</div>
					<div class="column">Date</div>
					<div class="column">Date and Time</div>
					<div class="column">Team-I</div>
					<div class="column">Team-II</div>
					<div class="column">Type</div>
					<div class="column">Squad</div>
					<div class="column">Toss Win</div>
					<div class="column">Win Team</div>
					<div class="column">Match status</div>
				 </div><!--first row end-->
				 
				 <!-- All data row start-->
				 <div ng-repeat="match in matches" class="tableColumns">
				    <div class="column">{{match.unique_id}}</div>
					<div class="column">{{match.date}}</div>
					<div class="column">{{match.dateTimeGMT}}</div>
					<div class="column">{{match.team-1}}</div>
					<div class="column">{{match.team-2}}</div>
					<div class="column">{{match.type}}</div>
					<div class="column">{{match.squad}}</div>
					<div class="column">{{match.toss_winner_team}}</div>
					<div class="column">{{match.winner_team}}</div>
					<div class="column">{{match.matchStarted}}</div>
				 </div><!-- All data row start-->
				
			 </div>
		 
		 
		 </div><!-- table div end-->
	   
	   
	   </div><!-- Main Div end-->
	   
	   
	   
   </body>
   
</html>