	      .column
		   {
		     display: inline-block;
			 width:7.95rem;
			 overflow:auto;
			 padding-top:1rem;
		   }
		   .tableHeader 
		   {
		     background-color: black;
			 color: white;
			 display: inline-block; 
			 text-align:center;
			 width:100%;
			 padding-bottom: 1rem;
			 border-bottom: 1px solid white;
		   }
		   .tableColumns:nth-child(even) {
              background: #d3d3d3;
             }

           .tableColumns:nth-child(odd) {
            background: white;
           }
		   .title
		   {
		     text-align:center;
			 font-size:1.5rem;
		   }
		   .tableColumns
		   {
			   display: inline-block;
			   text-align:center;
			   width:100%;
			   padding-bottom:1rem;
			   border-bottom: 1px solid black;
		   }
	  